#columnas { 	width:420px; 
			height: 240px;
			column-count: 2;
			column-gap: 2em; 
			column-rule: 1px solid silver; 
			-moz-column-count: 2;
			-moz-column-gap: 2em; 
			-moz-column-rule: 1px solid silver; 
			-webkit-column-count: 2; 
			-webkit-column-gap: 2em;
			-webkit-column-rule: 1px solid silver;
			text-align: justify;
	}