.reenie { font-size: 40px;
		  font-family: 'Reenie Beanie', arial, serif; 
	}
	
.rameto { font-size: 40px;
		  font-family: 'Rammetto One', cursive;
	}
	
.pacifico { font-size: 40px;
			font-family: 'Pacifico', cursive;
	}
	
.monoton { 	font-size: 40px;
			font-family: 'Monoton', cursive;
	}